---
import BaseLayout from "../base/BaseLayout.astro";

type Props = {
  title?: string;
  tabTitle?: string;
  description?: string;
  preloadCjk?: boolean;
  pageType?: "website" | "article";
  publishedTime?: Date;
  author?: string;
  keywords?: string[];
};
---

<BaseLayout
  title={Astro.props.title}
  tabTitle={Astro.props.tabTitle}
  description={Astro.props.description}
  preloadCjk={Astro.props.preloadCjk}
  pageType={Astro.props.pageType}
  publishedTime={Astro.props.publishedTime}
  author={Astro.props.author}
  keywords={Astro.props.keywords}
>
  <main class="screen">
    <slot />
  </main>
</BaseLayout>
